---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";

type Props = {
  articleTitle?: string;
};

const { articleTitle } = Astro.props;
---

<header>
  <Container>
    <div class={`flex flex-wrap gap-y-2 ${articleTitle ? "justify-between items-center" : "justify-end"}`}>
      {articleTitle && (
        <div id="article-title" class="text-sm font-medium text-black dark:text-white transition-opacity duration-300" style="opacity: 0;">
          {articleTitle}
        </div>
      )}
      <nav class="flex gap-1">
        <Link href="/">Home</Link>
        <span>&nbsp;</span>
        <Link href="/writing">Writing</Link>
      </nav>
    </div>
  </Container>
</header>

<script>
  function handleScroll() {
    const articleTitleDiv = document.getElementById("article-title");
    if (articleTitleDiv!) {
      if (window.scrollY > 200) {
        articleTitleDiv.style.opacity = "1";
      } else {
        articleTitleDiv.style.opacity = "0";
      }
    }
  }

  window.addEventListener("scroll", () => handleScroll());

  // Cleanup on navigation
  document.addEventListener("astro:before-preparation", () => {
    window.removeEventListener("scroll", handleScroll);
  });
</script>
