---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-end">
      <nav class="flex gap-1">
        <Link href="/">Home</Link>
        <span>&nbsp;</span>
        <Link href="/writing">Writing</Link>
      </nav>
    </div>
  </Container>
</header>
