{% extends "base.html" %}

{% block content %}
<h4>{{ config.author }}</h4>
<p>Hey, I'm a software engineer.</p>
<!-- <p>
  I have more than 10 years of experience building for the web professionally.
  Although I built my first website in 2002, I dabbled in other types of programming before I converted to the web.
  I <i>care</i> about creating <i>high-quality</i> and performant solutions.
</p> -->

<p>
  In my professional life, I'm driven to create tools that address user needs and improve efficiency,
  and I firmly hold to the power of open-source technology as the very foundation of my work.
</p>
<p>
  Aside from programming, I enjoy reading, savoring a good cup of tea, and immersing myself in music.
  To maintain a sharp mind and physical well-being, I snowboard during the winter months and take to the water when the weather is warmer.
</p>

<p>You can find me at <a href="https://x.com/claudiuivan">@claudiuivan</a>,
  or <a href="mailto:claudiu.ivan@me.com">claudiu.ivan@me.com</a>.
</p>

  <!-- <a href="https://x.com/claudiuivan">
    <img src="{{ get_url(path='x.svg') }}" alt="X" width="18" height="18">
  </a>,
  <a href="https://github.com/kioku">
    <img src="{{ get_url(path='github.svg') }}" alt="GitHub" width="18" height="18">
  </a>, -->


<!-- <p>Click <a href="{{ get_url(path='@/writing/_index.md') }}">here</a> to see my posts.</p> -->
{% endblock content %}