{% extends "base.html" %} {% block content %}
<h4>{{ config.author }}</h4>
<p>
    I’m a software engineering consultant. I care about efficiency, and I build tools that provide value.
</p>

<p>
    My practice is focused on web development, throughout the entire stack.
{#
    I have experience with a variety of technologies, but I prefer
    to think of myself as a problem solver rather than a specialist.
#}
</p>

{#
<p>
    When I'm not in front of a computer, I enjoy reading, a good cup of tea,
    and immersing myself in music. To stay sharp and healthy, I snowboard when
    possible and engage in water sports during warmer months.
</p>
#}

<p>
    You can find me at <a href="https://x.com/claudiuivan">@claudiuivan</a>, or
    <a href="mailto:claudiu.ivan@me.com">claudiu.ivan@me.com</a>.
</p>

<!-- <a href="https://x.com/claudiuivan">
    <img src="{{ get_url(path='x.svg') }}" alt="X" width="18" height="18">
  </a>,
  <a href="https://github.com/kioku">
    <img src="{{ get_url(path='github.svg') }}" alt="GitHub" width="18" height="18">
  </a>, -->

<!-- <p>Click <a href="{{ get_url(path='@/writing/_index.md') }}">here</a> to see my posts.</p> -->
{% endblock content %}
