---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import CodeBlock from "@components/CodeBlock.astro";
import { ViewTransitions } from "astro:transitions";
import { SITE, HOME } from "@consts";

type Props = {
  title: string;
  description?: string;
  showHeader?: boolean;
  showFooter?: boolean;
  article?: {
    title: string;
    description: string;
    datePublished: Date;
    url: string;
  };
};

const { title, description= "", showHeader = true, showFooter = true, article } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} article={article} />
    <ViewTransitions />
  </head>
  <body>
    <a href="#main-content" class="skip-to-content">Skip to main content</a>
    {showHeader && <Header articleTitle={title != HOME.TITLE ? title : ""} />}
    <main id="main-content">
      <slot />
    </main>
    {showFooter && <Footer />}
    <CodeBlock />
  </body>
</html>
