---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import CodeBlock from "@components/CodeBlock.astro";
import { SITE, HOME } from "@consts";

type Props = {
  title: string;
  description?: string;
  showHeader?: boolean;
  showFooter?: boolean;
};

const { title, description= "", showHeader = true, showFooter = true } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} />
  </head>
  <body>
    {showHeader && <Header articleTitle={title != HOME.TITLE ? title : ""} />}
    <main>
      <slot />
    </main>
    {showFooter && <Footer />}
    <CodeBlock />
  </body>
</html>
