---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@consts";

type Props = {
  title: string;
  description?: string;
  showHeader?: boolean;
  showFooter?: boolean;
};

const { title, description= "", showHeader = true, showFooter = true } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} />
  </head>
  <body>
    {showHeader && <Header />}
    <main>
      <slot />
    </main>
    {showFooter && <Footer />}
  </body>
</html>
